.card-img, .card-img-bottom, .card-img-top {
    height: 250px;
}
.card-text,.card-title{
    text-overflow: ellipsis;
    overflow: hidden !important;
    white-space: nowrap;
}
.cards-container .row{
    padding: 10px;
}